
@using MvcBookStore.Models
@using PagedList.Mvc;
@model PagedList.PagedList<Sach>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<div class="row">
    @foreach (var sach in Model)
    {
        <div class="col-sm-4 col-lg-4 col-md-4">
            <div class="thumbnail">


                <div class="templatemo_product_box">
                    <a href="@Url.Action("Details", "BookStore" , new {id=sach.MaSach})">
                        <h1>@sach.TenSach </h1>
                        <img alt="@sach.TenSach" src="~/Content/images/@sach.AnhBia" hieght="60" width="100" />
                        <div class="product_info">
                            <h3>@sach.GiaBan</h3>
                            <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                            <div class="detail_button"><a href="subpage.html">Detail</a></div>
                        </div>
                        <div class="cleaner">&nbsp;</div>
</div>
                <div class="cleaner_with_width">&nbsp;</div>
                <div class="templatemo_product_box">
                    <h1>@sach.TenSach </h1>
                    <img alt="@sach.TenSach" src="~/Content/images/@sach.AnhBia" hieght="55" width="100" />
                    <div class="product_info">
                        <h3>@sach.GiaBan</h3>
                        <div class="buy_now_button"><a href="subpage.html">Buy Now</a></div>
                        <div class="detail_button"><a href="subpage.html">Detail</a></div>
                    </div>
                    <div class="cleaner">&nbsp;</div>
                </div>

                <div class="rating">
                    <p class="pull-right"> 15 reviews</p>

                </div>
            </div>
        </div>

    }
</div>
@* TAO LIEN KET CAC TRANG*@
    Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber)/@Model.PageCount;
    <div class="MenuTrang">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
    </div>
    <style>
        .MenuTrang li {
            display: inline;
        }
    </style>
